.activity-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    scrollbar-width: thin;
    gap: 15px;

    & > button {
        background-color: aqua;
        border-radius: 20px;
        padding: 8px;
        border: none;
        white-space: nowrap;

        &:hover {
            background-color: cadetblue;
        }

        &.selected {
            background-color: cadetblue;
        }
    }
}

.activity-no-selection {
    text-align: center;
    font-size: 48px;
}
